article.card {
  color: var(--text-primary-color);
  background-color: var(--bg-primary-color);
  border-color: var(--border-color);
  border-radius: var(--border-radius-common);
}

.card-image-container {
  background-color: var(--bg-secondary-color);
}

.card-img-top {
  aspect-ratio: 1 / .56;
  object-fit: cover;
  min-height: 150px;
}

.card-text {
  color: var(--text-secondary-color);
}

.btn-show-more {
  font-weight: 500;
  color: var(--text-primary-color);
}

.btn-show-more:hover,
.btn-show-more:focus-visible {
  color: var(--accent-color);
}

.card-controls {
  display: flex;
  gap: 1rem;
  border-top: var(--border-common);
}
